<!DOCTYPE html>
<html>
<head>
    <title>NTR 2017 - Students</title>
    <base href="/" />
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />

    <script src="~/Scripts/angular.min.js"></script>
    <!--<script src="~/Scripts/angular-route.min.js"></script>-->
    <script src="~/Controllers/AngularController.js"></script>

</head>
<body style="color:black" ng-app="StudentsListJS" ng-controller="StudentsListController">

    <!-- Grid for the view -->
    <div class="container students-view" style="width: 35vw">

        <!-- Cards row -->
        <div class="row">
            <!-- Students card -->
            <div class="col-md-6">
                <a href="/Home/Index" role="button" class="btn btn-info" style="width:100%;cursor:default">
                    Studenci
                </a>
            </div>

            <!-- Groups card -->
            <div class="col-md-6">
                <a href="/Home/GroupsView" role="button" class="btn btn-info" style="width:100%;cursor:default">
                    Grupy
                </a>
            </div>
        </div>

        <!-- Filter row-->
        <div class="row">

            <!-- Filter fields -->
            <div class="col-md-8">

                <!-- Filter group row -->
                <div class="row">
                    <div class="col-md-3" style="text-align:right">
                        Grupa:
                    </div>
                    <div class="col-md-9">
                        <select style="width:100%;height:3vh" ng-model="filterGroup" disabled="disabled"
                                ng-options="item as item.Name for item in Data.Groups track by item.IDGroup">
                            <option value="">--</option>
                        </select>
                    </div>
                </div>

                <!-- Filter city row -->
                <div class="row">
                    <div class="col-md-3" style="text-align:right">
                        Miasto:
                    </div>
                    <div class="col-md-9">
                        <input type="text" disabled="disabled" ng-model="filterCity" style="width:100%" />
                    </div>
                </div>
            </div>

            <!-- Filter button -->
            <div class="col-md-2" style="height:9vh;padding:0;padding-right:15px">
                <button type="button" ng-click="clickFilter()" class="btn btn-success disabled"
                        style="width:100%; height:100%; margin:auto;cursor:default">
                    Filtruj
                </button>
            </div>

            <!-- Clear button -->
            <div class="col-md-2" style="height:9vh;padding:0;padding-right:15px">
                <input type="submit" value="Odśwież" role="button" ng-click="refresh()" class="btn btn-danger" style="width:100%;height:100%;cursor:default;" />
            </div>
        </div> <!-- /Filter row -->
        <!-- Groups list row -->
        <div class="row">
            <div class="col-md-12">

                <!-- Fixed-width scrolled container for groups data-->
                <div style="height: 20vh; overflow-y: scroll;border-style:solid;border-width:thin;border-color:gray">
                    <table style="width:100%">
                        <tr class="student-list-row" ng-repeat="gr in Data.Groups" ng-click="clickGroup(gr)">
                            <td>
                                {{gr.IDGroup}}
                            </td>
                            <td>
                                {{gr.Name}}
                            </td>
                        </tr>

                    </table>


                </div> <!-- /Container-->

            </div>

        </div>


        <!-- Potential error messages row -->
        <div class="row">
            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <span style="color:red;text-align:center;margin:auto">
                    {{ErrMsg}}
                </span>

            </div>

        </div>

        <!-- Change group name -->
        <div class="row">
            <div class="col-md-4" style="text-align:right">
                Nazwa grupy:
            </div>
            <div class="col-md-8">
                <input type="text" ng-model="editedGroupName" style="width:100%" />
            </div>
        </div>

        <!-- Save/Delete/New buttons -->
        <div class="row">
            <div class="col-md-6" style="text-align:right">

            </div>
            <div class="col-md-2" style="padding:0.5vh">
                <input class="btn btn-info" ng-click="clickGroupSave()" value="Zapisz" name="action" style="width:100%;cursor:default" />
            </div>
            <div class="col-md-2" style="padding:0.5vh">
                <input class="btn btn-info" ng-click="clickGroupDelete()" value="Usuń" name="action" style="width:100%;cursor:default" />
            </div>
            <div class="col-md-2" style="padding:0.5vh;padding-right:15px">
                <input class="btn btn-info" value="Nowy" ng-click="clickGroupNew()" name="action" style="width:100%;cursor:default" />
            </div>

        </div>



    </div> <!-- /Grid -->

</body>

    
