@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentsListJS Tests</title>

    <link rel="stylesheet" type="text/css" href="~/Content/jasmine/jasmine.css">
    <script src="~/Scripts/jasmine/jasmine.js"></script>
    <script type="text/javascript" src="~/Scripts/jasmine/jasmine-html.js"></script>
    <script type="text/javascript" src="~/Scripts/jasmine/boot.js"></script>
    <script type="text/javascript" src="~/Controllers/Tests.js"></script>

</head>
<body>
    
</body>



</html>
